.color-info1{
	border-style: solid;
	border-width:3px;
	background-color: #6495ED}
.color-info2{border-style: solid;
	border-width:3px;
background-color: #FFEBCD}
.important2{color:blue;}
.important3{color:orange;}
.important{font-size: 16px;
font-weight: bold;}
{background-color: red;
}